
@use './mixins' as m;

@mixin form {
    grid-template-columns: .5fr 1fr 1fr 1.5fr;
    column-gap: 1rem;
    margin: 1rem 2rem 3rem;
    &__text {
        grid-column: 1/2;
        font-size: 2rem;
        place-self: center;
        &--pages {
            align-self: center;
        }
    }
    &__label {
        display: contents;
        &--pages {
            display: flex;
        }
    }
    &__input {
        grid-column: 2/4;
        height: 4rem;
        align-self: center;
        border-radius: 10px;
        padding: 0 1rem;
        font-size: 1.2rem;
        &--sm {
            appearance: none;
            -webkit-appearance: none;
            height: 3rem;
            width: 11rem;
        }
    }
    &__synopsis {
        padding-top: 1.5rem;
        margin: 1rem 0;
        font-family: inherit;
        resize: vertical;
        height: 18rem;
    }
    &__pages {
        grid-column: 3/4;
        grid-row: 4;
        display: flex;
        align-items: center;
        justify-self: auto;
    }
    &__rating {
        font-size: 3rem;
        display: flex;
        align-items: center;
        margin: 2rem 0;
        &--details {
            justify-self: center;
            margin-top: 0;
        }
        &--stars {
            padding-right: .5rem;
        }
        &--checked {
            @include m.stars;
        }
        &--unchecked {
            color: lighten(grey, 25%);
            stroke: black; 
            stroke-width: 1rem;
            margin-right: .5rem;
            cursor: pointer;       
        }  
    }
    &__selectPub {
        @include m.CustomPub;
    }
    &__selectPage {
        @include m.CustomPage;
    }
    @media only screen and (max-width: 1200px) {
        &__input {
            &--sm {
                width: 11rem;
            }
            &--author {
                align-self: center;
            }
        }
    }
    @media only screen and (max-width: 1025px) {
        &__text {
            font-size: 1.5rem;
        }
        &__input {
            width: 33rem;
        }
        &__rating {
            font-size: 2rem;
        }
    }
    @media only screen and (max-width: 769px) {
        margin: 1rem 2rem 1rem 1rem;
        grid-template-columns: .5fr 1fr 1fr 1.5fr;
        column-gap: .5rem;
        height: 93%;
        &__input {
            height: 3rem;
            width: 25rem;
            font-size: .8rem;
            &--lg {
                height: 12rem;
                font-size: 1rem;
            }
            &--sm {
                width: 8rem;
                margin: 1rem;
            }
        }
        &__text {
            font-size: 1.2rem;
        }
        &__pages {
            justify-self: end;
        }
        &__rating {
            font-size: 1.5rem;
            &--details {
                align-self: start;
            }
        }
    }
    @media only screen and (max-width: 480px) {
        margin: 1rem 2rem;
        &__input {
            font-size: 1.2rem;
            &--sm {
                padding: 0 1rem;
            }
        }
        &__rating {
            &--details {
                margin: 0 6rem 0 7rem;
            }
        }
    }
    @media only screen and (max-width: 425px) {
        &__rating {
            font-size: 1.5rem;
            &--details {
                margin: 0 3rem 0 6rem;
            }
        }
    }
    @media only screen and (max-width: 375px) {
        margin: 1rem;
        &__input {
            &--sm {
                width: 12rem;
            }
        }
        &__rating {
            &--details {
                margin: 0 4rem;
            }
        }
    }
}
