
@use './mixins' as m;

@mixin form {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: .5fr .5fr 2fr .5fr .5fr;
    row-gap: 1rem;
    column-gap: 1rem;
    &__text {
        grid-column: 1/2;
        font-size: 2rem;
        place-self: center;
        &--pages {
            align-self: center;
        }
    }
    &__input {
        grid-column: 2/5;
        width: 38rem;
        border-radius: 10px;
        padding: 0 1rem;
        font-size: 1.2rem;
        &--sm {
            appearance: none;
            -webkit-appearance: none;
            height: 3rem;
            width: 11rem;
        }
        &--lg {
            width: 38rem;
        }
    }
    &__synopsis {
        height: 14rem;
        padding-top: 1rem;
        font-family: inherit;
        resize: vertical;
    }
    &__pages {
        grid-column: 3/5;
        grid-row: 4;
        display: flex;
        align-items: center;
    }
    &__rating {
        font-size: 2rem;
        align-self: center;
        &--star {
            @include m.stars;
        }
        &--unchecked {
            color: lighten(grey, 25%);
            stroke: black; 
            stroke-width: 1rem;       
        }  
    }
    &__selectPub {
        @include m.CustomPub;
    }
    &__selectPage {
        @include m.CustomPage;
    }
    @media only screen and (max-width: 1200px) {
        &__pages {
            justify-self: end;
        }
    }
    @media only screen and (max-width: 1025px) {
        &__text {
            font-size: 1.5rem;
            &--title {
                align-self: end;
                margin-bottom: 1rem;
            }
        }
        &__input {
            height: 3.5rem;
            width: 36rem;
            &--title {
                align-self: end;
            }
            &--lg {
                width: 36rem;
                height: 16rem;
            }
            &--sm {
                width: 11rem;
                height: 3rem;
            }
        }
        margin-left: 2rem;
    }
    @media only screen and (max-width: 1024px) {
        &__input {
            width: 35rem;
            &--sm {
                width: 10rem;
            }
            &--lg {
                width: 35rem;
            }
        }
        &__text {
            font-size: 1.5rem;
        }
    }
    @media only screen and (max-width: 769px) {
        margin: 1rem 0 1rem 1rem;
        grid-template-columns: 1fr 1.5fr 1fr 1fr;
        height: 80%;
        &__input {
            height: 3rem;
            width: 24.5rem;
            font-size: 1rem;
            &--lg {
                height: 11rem;
                font-size: 1rem;
            }
            &--sm {
                width: 9rem;
            }
        }
        &__text {
            font-size: 1.3rem;
        }
        &__pages {
            justify-self: auto;
            margin-left: 1rem;
        }
        &__rating {
            font-size: 1.5rem;
        }
    }
    @media only screen and (max-width: 480px) {
        .form {
            display: block;
            &__input {
                &--lg {
                    font-size: 1.5rem;
                    padding: 1.5rem;
                }
                &--sm {
                    width: 12rem;
                }
            }
            &__desktop {
                display: none;
            }
            &__selectPage {
                margin: 1rem 4rem auto;
            }
            &__rating {
                font-size: 2.5rem;
                margin-top: 2rem;
            }
        }
    }
}
