@use "./variables" as v;

@mixin stars {
    display: inline-block;
    color: yellow;
    stroke: black;
    stroke-width: 1rem;
    margin-right: .4rem;
    cursor: pointer;
}

@mixin button {
    width: 17rem;
    height: 3.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: v.$coffee;
    color: white;
    cursor: pointer;
    &__light {
        background-color: lighten(v.$coffee, 75%);
        color: black;
    }
    &__mdDark {
        background-color: lighten(v.$coffee, 25%);
    }
    &__delete {
        place-self: center left;
        width: 8rem;
        height: 3rem;
        font-size: 1rem;
        grid-row: 1;
    }
    @media only screen and (max-width: 1024px) {
        width: 14rem;
    }
    @media only screen and (max-width: 769px) {
        width: 13rem;
        font-size: 1rem;
        &__mdDark {
            width: 10rem;
            margin-bottom: 1rem;
        }
    }
    @media only screen and (max-width: 480px) {
        width: 14rem;
        font-size: 1.5rem;
        &__mdDark {
            width: 17rem;
        }
    }
}

@mixin lowerPageBtns {
    grid-column: 2/5;
    justify-self: center;
    margin: 4rem 12rem 6rem 0;
    .leftBtn {
        margin-left: 4rem;
    }
    .rightBtn {
        margin-right: 4rem;
    }
    @media only screen and (max-width: 769px) {
    }
    @media only screen and (max-width: 480px) {
        display: inherit;
        margin-top: 4rem;
        .leftBtn {
            margin: 1.5rem auto auto 0;
        }
    }
}

@mixin CustomPub {
    grid-column: 2/3;
    align-self: center;
    height: 4rem;
    &--input {
        position: absolute;
        top: -32%;
        right: -18%;
    }
    .rw {
        &-calendar {
            &-btn {
                &-view {
                    font-size: 1.2rem;
                }
            }
            &-popup {
                width: 15.1em;
            }
        }
        &-widget {
            width: 19.5rem;
        }
    }
    @media only screen and (max-width: 1025px) {
        .rw {
            &-widget {
                width: 16rem;
                &-picker {
                    width: 16rem;
                    border-right: 1px solid black;
                }
            }
            &-input {
                &-addon {
                    right: 3rem;
                    width: 3rem;
                }
            }
            &-calendar {
                &-header {
                    padding: 1.5rem .8rem .5rem;
                }
                &-popup {
                    width: 14.4em;
                }
                &-btn {
                    right: -1rem;
                    top: -.5rem;
                    &-view {
                        display: contents;
                        &> :last-child {
                            margin: .5rem;
                        }
                    }
                }
            }
        }
    }
    @media only screen and (max-width: 769px) {
        width: 11rem;
        height: 3rem;
        &--input {
            padding: 0 .5rem;
        }
        .rw {
            &-widget {
                width: 13.1rem;
                &-picker {
                    width: 13rem;
                }
            }
            &-calendar {
                &-popup {
                    width: 15.2em;
                }
                &-btn {
                    width: 2rem;
                }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        margin: 2rem 5rem;
        .rw {
            &-input {
                &-addon {
                    right: 1rem;
                    width: 4rem;
                }
            }
            &-calendar {
                &-popup {
                    width: 20rem;
                }
                &-header {
                    padding: 1rem 1rem 0.5rem;
                    align-items: center;
                }
                &-btn {
                    right: 0;
                    top: 0;
                }
            }
            &-widget {
                width: 17.9rem;
                &-picker {
                    font-size: 1.5rem;
                    width: 17.9rem;
                }
            }
        }
    }
    @media only screen and (max-width: 425px) {
        margin-left: 3.5rem;
    }
    @media only screen and (max-width: 375px) {
        margin-left: 4rem;
        .rw {
            &-calendar {
                &-popup {
                    width: 17.1rem;
                }
            }
            &-input {
                &-addon {
                    right: 2rem;
                }
            }
            &-widget {
                width: 15rem;
                &-picker {
                    width: 15rem;
                }
            }
        }
    }
}

@mixin CustomPage {
    margin: 0 0 0 3rem;
    align-self: center;
    input {
        width: 9rem;
        padding-left: 1.5rem;
    }
    @media only screen and (max-width: 1200px) {
        margin-left: 1rem;
    }
    @media only screen and (max-width: 1025px) {
        .rw {
            &-input {
                &-addon {
                    right: 5rem;
                    width: 2.7rem;                
                }
            }
            &-widget {
                &-container {
                    width: 11rem;
                    border-right: 1px solid black;
                }
            }
            &-number {
                &-picker {
                    width: 11rem;
                    &-spinners {
                        right: 1rem;
                        width: 2.8rem;  
                    }
                }
            }
        }
        input {
            width: 9rem;
        }
    }
    @media only screen and (max-width: 769px) {
        margin: 0 0 0 1rem;
        input {
            width: 8rem;
            height: 3rem;
        }
        .rw {
            &-number {
                &-picker {
                    width: 8rem;
                    &-spinners {
                        right: 3rem;
                    }
                }
            }
            &-widget {
                &-container {
                    width: 8rem;
                }
            }
        }
    }
    @media only screen and (max-width: 480px) {
        margin: 0;
        .rw {
            &-number {
                &-picker {
                    font-size: 1.5rem;
                    &-spinners {
                        right: 4.8rem;
                        top: -1px;
                    }
                }
            }
        }
        input {
            width: 10rem;
        }
    }
}
