@use "./variables" as v;

@mixin stars {
    display: inline-block;
    color: yellow;
    stroke: black;
    stroke-width: 1rem;
    margin-right: .4rem;
    cursor: pointer;
}

@mixin button {
    width: 17rem;
    height: 3.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: v.$coffee;
    color: white;
    &__light {
        background-color: lighten(v.$coffee, 75%);
        color: black;
    }
    &__mdDark {
        background-color: lighten(v.$coffee, 25%);
    }
    @media only screen and (max-width: 1024px) {
        width: 14rem;
        font-size: 1rem;
    }
    @media only screen and (max-width: 769px) {
        width: 13rem;
        &__mdDark {
            width: 10rem;
            margin-bottom: 1rem;
        }
    }
    @media only screen and (max-width: 480px) {
        width: 14rem;
        font-size: 1.5rem;
        &__mdDark {
            width: 17rem;
        }
    }
}

@mixin lowerPageBtns {
    grid-column: 2/5;
    justify-self: center;
    margin: 4rem 12rem 6rem 0;
    .leftBtn {
        margin-left: 4rem;
    }
    .rightBtn {
        margin-right: 4rem;
    }
    @media only screen and (max-width: 769px) {
    }
    @media only screen and (max-width: 480px) {
        display: inherit;
        margin-top: 4rem;
        .leftBtn {
            margin: 1.5rem auto auto 0;
        }
    }
}

@mixin CustomPub {
    grid-column: 2/3;
    align-self: center;
    height: 4rem;
    // padding-right: 1rem;
    // &--arrow {
    //     font-size: 2.5rem;
    //     border-left: 1px solid black;
    //     position: absolute;
    //     top: 10%;
    //     right: 2%;    
    //     opacity: .5;
    //     z-index: 10;
    // }
    &--input {
        position: absolute;
        top: -32%;
        right: -18%;
    }
    @media only screen and (max-width: 1025px) {
        .rw {
            &-calendar {
                &-header {
                    padding: 2rem .8rem .5rem;
                }
                &-popup {
                    width: 18em;
                }
                &-btn {
                    right: -1rem;
                    width: 3rem;
                    top: -1rem;
                    &-view {
                        display: contents;
                    }
                }
            }
        }
        &-popup {
            height: 19rem;
        }
    }
    @media only screen and (max-width: 769px) {
        width: 11rem;
        height: 3rem;
        // &--arrow {
        //     font-size: 2rem;
        //     right: -3%;
        //     top: 19%;
        // }
        &--input {
            padding: 0 .5rem;
        }
        .rw-calendar-btn {
            width: 2rem;
        }
    }
    @media only screen and (max-width: 480px) {
        width: 13rem;
        margin: 2rem auto;
        // &--arrow {
        //     top: 17%;
        //     right: 0;
        // }
    }
    @media only screen and (max-width: 375px) {
        width: 10rem;
    }
}

@mixin CustomPage {
    margin: 0 0 0 3rem;
    align-self: center;
    // &--arrow {
    //     position: absolute;
    //     font-size: 2rem;
    //     left: 68%;
    //     top: 14%;
    //     opacity: .5;
    // }
    input {
        width: 9rem;
        padding-left: 1.5rem;
    }
    @media only screen and (max-width: 1200px) {
        margin-left: 1rem;
    }
    @media only screen and (max-width: 1025px) {
        .rw {
            &-widget {
                &-container {
                    width: 12rem;
                    border-right: 1px solid black;
                }
            }
            &-number {
                &-picker {
                    &-spinners {
                        position: relative;
                        right: -4.5rem;
                    }
                }
            }
        }

        // &--arrow {
        //     left: 68%;
        //     top: 23%;
        //     font-size: 1.7rem;
        // }
        input {
            width: 9rem;
        }
    }
    @media only screen and (max-width: 769px) {
        margin: 0 0 0 1rem;
        input {
            width: 8rem;
            height: 3rem;
        }
        .rw {
            &-widget {
                &-container {
                    width: 8rem;
                }
            }
        }
        // &--arrow {
        //     font-size: 1.5rem;
        //     top: 35%;
        // }
    }
    @media only screen and (max-width: 480px) {
        margin-right: 1.5rem;
        input {
            width: 10rem;
        }
        // &--arrow {
        //     left: 70%;
        //     top: 26%;
        // }
    }
}
