@use "./variables" as v;

.card {
    &__buttons {
        grid-column: 1/6;
        justify-self: center;
        margin-right: -5rem;
        &--cancel {
            background-color: lighten(v.$coffee, 75%);
            color: black;
            border: 0;
        }
    }
}
.bookCover {
    &__img {
        background-color: lighten(v.$coffee, 75%);
        justify-self: center;
        margin-bottom: 2rem;
        position: relative;
        &--text {
            font-size: 1.5rem;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--btn {
            background-color: lighten(v.$coffee, 25%);
            height: 2.5rem;
        }
    }
}

// BREAKPOINTS LG 1200px - 1025px  MD 1024px - 769px

@media only screen and (max-width: 1025px) {
    html {
        font-size: 14px;
    }
    .nav .nav {
        &__item {
            margin-right: 0;
            &--logo {
                font-size: 3rem;
            }
            &--link {
                font-size: 1.5rem;
            }       
        }
        &__search {
            &--form {
                height: 2.5rem;
            }
        }
    }
    .pageWrapper {
        padding-bottom: 4rem;
    }
    .wrapper {
        grid-template-rows: 2fr .5fr;
        margin: -2rem 5rem -4rem 0;
    }
    .header {
        padding-top: 2rem;
    }
    .card {
        &__buttons {
            padding-bottom: 6rem;
            margin-top: -4rem;
            align-self: center;
        }
    }
}

@media only screen and (max-width: 1024px) {

    .wrapper {
            margin-bottom: -3rem;
    }
}

@media only screen and (max-width: 769px) {
    html {
        font-size: 12px;
    }
    .nav {
        .nav{
            &__container {
                grid-template-columns: 2fr .5fr 1fr 1fr 2fr 1fr;
            }
            &__item {
                &--logo {
                    margin-right: 1rem;
                }
                &--addBook {
                    justify-self: baseline;
                }
            }
            &__search {
                &--form {
                    width: 15rem;
                }
                &--btn {
                    justify-self: center;
                }
            }
        }
    }
    .wrapper {
        margin-left: 1rem;
        &__card {
            row-gap: 3rem;
        }
    }
    .card {
        &__published {
            &--input {
                margin-right: 0;
            }
        }
        &__pages {
            margin-left: 0;
        }
    }
}



@media only screen and (max-width: 768px) {
    html {
        font-size: 11px;
    }
    .wrapper {
        margin-right: 3rem;
        &__bookcover {
            grid-column: 4/6;
        }
    }
    .bookCover {
        grid-template-rows: 1.5fr .5fr;
        &__img {
            width: 100%;
            &--btn {
                height: 3.5rem;
                margin-top: 2.3rem;
            }
        }
    }
    .card {
        &__pages {
            label {
                margin-right: 1rem;
            }
        }
        &__buttons {
            padding-bottom: 0;
        }
    }
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
// MOBILE BREAKPOINTS 480px - 375px

@media only screen and (max-width: 480px) {
    html {
        font-size: 12px;
    }
    .nav {
        .nav{
            &__item {
                &--logo {
                    margin-right: -10rem;
                }
            }
        }
    }
    .hamburger {
        grid-column: 6;
        justify-self: left;
    }
    .pageWrapper {
        padding-bottom: 9rem;
    }
    .wrapper {
        margin: 0 4rem 0 4rem;
        .card {
            label {
                font-size: 2rem;
            }
            &__published {
                &--input {
                    margin-left: 2rem;
                }
            }
            &__buttons {
                margin-top: 34rem;
            }
            &__pages {
                padding: 0;
                grid-template-columns: none;
                &--input {
                    width: 11rem;
                }
            }
            &__rating {
                margin-left: 4.5rem;
                &--stars {
                    padding-left: 1rem;
                }
            }
        }
    }
    .mobileCoverCard {
        max-width: 70%;
        height: 35%;
        display: grid;
        grid-template-rows: 2fr .5fr;
        margin: 4rem auto;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        position: relative;
        background-color: lighten(v.$coffee, 75%);
        &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            &--innerText {
                font-size: 2rem;
            }
        }
        &__btn {
            grid-row: 2;
            display: inline-block;
            justify-self: center;
            background-color: lighten(v.$coffee, 25%);
        }
    }
    .card {
        &__published {
            &--input {
                margin-right: 6;
            }
        }
        &__pages {
            &--input {
                width: 12rem;
            }
        }
        &__buttons {
            padding-bottom: 2rem;
        }
    }

    .footer {
        font-size: 2rem;
        height: 6rem;
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 425px) {
    .wrapper .card {
        &__pages {
            column-gap: 0;
        }
        &__rating {
            margin-left: 2.5rem;
        }
        &__buttons {
            margin-top: 32rem;
        }
    }
}
@media only screen and (max-width: 375px) {
    html {
        font-size: 14px;
    }
    .nav .nav {
        &__container {
            padding: 0 1rem 0 2rem;
        }
    }
    .wrapper {
        margin: 0;
        .card {
            &__pages {
                &--input {
                    width: 8rem;
                }
            }
        }
    }
}
