@use "./mixins" as m;
@use "./variables" as v;




.pageWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 2rem;
}

.heroImg {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../images/reading-room.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 30rem;
    position: relative;
    &__caption {
        @include m.centerText;
        color: v.$beige;
        font-size: 4rem;
        &--lg {
            font-size: 9rem;
        }
        &--sm {
            padding-top: 17rem;
        }
    }
}
.header {
    font-size: 4rem;
    font-style: italic;
    text-align: center;
}
.landing {
    &__text {
        font-size: 2rem;
        padding: 0 6rem;
    }
    &__btn {
        @include m.button;
        justify-self: center;
    }
}

    
// BREAKPOINTS LG 1200px - 1025px  MD 1024px - 769px

@media only screen and (max-width: 1200px) {
    .heroImg {
        &__caption {
            top: 38%;
        }
    }
}

@media only screen and (max-width: 1025px) {
    .heroImg {
        height: 25rem;
        &__caption {
            &--lg {
                font-size: 7rem;
            }
            &--sm {
                font-size: 3rem;
                padding-bottom: 2rem;
            }
        }
    }
    .header {
        font-size: 3rem;
    }
    .landing {
        &__text {
            font-size: 1.5rem;
        }
    }
}

// BREAKPOINTS MOBILE 480px 425px 375px

@media only screen and (max-width: 480px) {
    .heroImg {
        &__caption {
            &--lg {
                font-size: 6rem;
            }
            &--sm {
                font-size: 2rem;
            }
        }
    }
    .landing {
        &__text {
        padding: 0 2rem;
        }
    }
}
@media only screen and (max-width: 425px) {
    .header {
        font-size: 2.2rem;
    }
}
@media only screen and (max-width: 375px) {
    .heroImg {
        height: 21rem;
        &__caption {
            &--lg {
                font-size: 6rem;
            }
            &--sm {
                font-size: 1.7rem;
                padding-top: 13rem;
            }
        }
    }
}

