@use "./mixins" as m;
@use "./variables" as v;


* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    background-color: v.$coffee;
    margin: 0;
}

.nav {
    background-color: v.$coffee;
    height: 4rem;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    &__list {
        margin-top: .7rem;
    }
    &__item  {
        list-style-type: none;
        display: inline;
        margin-right: 2.8rem;

        &--logo {
            @include m.navObj;
            font-size: 2rem;
            color: v.$beige;
        }
        
        &--link {
            &:hover {
                color: v.$brown;
            }
            &:active {
                color: v.$beige;
            }
            @include m.navObj;           
            }
        }
    &__search {
        position: relative;
        right: -13.9rem;
        top: -.2rem;
        &--form {
           height: 2.1rem;
           width: 17rem;
           font-size: 1rem;
           padding-left: .6rem;
           border-radius: .5rem;
       }
       &--btn {
           height: 2.3rem;
           width: 5.5rem;
           border-radius: .7rem;
           border: 2px solid cyan;
           color: cyan;
           font-size: 1rem;
           background-color: v.$coffee;
           margin-left: .8rem;
           
       }
    }
    
}

.heroImg {
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../images/reading-room.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 21rem;
    top: 4rem;
    margin: 0;
    &__caption {
        text-align: center;
        top: 50%;
        left: 50%;
        color:v.$beige;
        font-size: 2.3rem;
        padding-top: 1.5rem;
        font-weight: 500;
        &--lg {
            font-size: 4.6rem;
            padding-top: 6rem;
        }
    }

}

.mainContent {
    background-color: v.$beige;
    height: 29rem;
    margin-top: 3rem;
    &__header {
        font-size: 2rem;
        padding-top: 2.7rem;
        text-align: center;
    }
    &__text {
        font-size: 1.3rem;
        padding: 1rem 9rem;
        text-align: left;
        p {
            margin-bottom: 2rem;
        }
        &--btn {
            height: 2.5rem;
            width: 11.5rem;
            border-radius: .7rem;
            color: v.$beige;
            font-size: 1rem;
            background-color: v.$coffee;
            margin-left: 24.5rem;
        }
    }
}

.footer {
    text-align: center;
    font-size: 1rem;
    h4 {
        color: v.$beige;
    }
}


// Breakpoints lg 1025px - 1200px  md 769px - 1024px

@media only screen and (max-width: 1440px) {
    html {
        font-size: 18px;
    }
    .mainContent {
        &__text {
            &--btn {
                margin-left: 24.9rem;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1025px) {
    html {
        font-size: 13px;
    }
    .mainContent {
        &__text {
            &--btn {
                margin-left: 24.5rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 13px;
    }
    .mainContent {
        &__text {
            &--btn {
                margin-left: 24.5rem;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 9.5px;
    }
    .mainContent {
        &__text {
            &--btn {
                margin-left: 25.3rem;
            }
        }
    }
}


// Mobile Breakpoints 375px-480px

@media only screen and (max-width: 480px) {

    .nav {
        height: 6rem;
        padding-top: .6rem;
        &__item {
            &--logo {
                font-size: 3.3rem;
            }
            &--link {
                display: none;
            }
        }
        &__search {
            display: none;
        }
    }

    .mainContent {
        height: 40rem;
        &__text {
            &--btn {
                margin-left: 8rem;
            }
        }
    }
}


@media only screen and (max-width: 425px) {

    .nav {
        height: 6rem;
        padding-top: .6rem;
        &__item {
            &--logo {
                font-size: 3.3rem;
            }
            &--link {
                display: none;
            }
        }
        &__search {
            display: none;
        }
    }
    .heroImg {
        height: 31rem;
        &__caption {
            font-size: 3.3rem;
            &--lg {
                font-size: 7.6rem;
                padding-top: 8rem;
            }
        }
    }
    .mainContent {
        height: 61rem;
        p {
            margin-bottom: 3rem;
        }
        &__header {
            font-size: 4rem;
        }
        &__text {
            font-size: 2.3rem;
            padding: 1rem 3rem;
            &--btn {
                margin-left: 12rem;
                height: 3.5rem;
                width: 14.5rem;
                font-size: 2rem;
            }
        }
    }
    .footer {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 375px) {

    .nav {
        &__item {
            &--logo {
                margin-left: -2rem;
            }
            &--mobile {
                display: inline-block;
            }
        }
    };

    .heroImg {
        background-size: 257%;
        height: 30rem;
        &__caption {
            font-size: 3.5rem;
            &--lg {
                padding-top: 10rem;
                font-size: 7.6rem;
            }
        }
    }

    .mainContent {
        margin-top: 7rem;
        height: 54rem;
        &__header {
            font-size: 3rem;
        }
        &__text {
            font-size: 1.9rem;
            padding: 1rem 3rem;
            &--btn {
                margin-left: 8.5rem;
                height: 3.5rem;
                width: 15.5rem;
                font-size: 2rem;
            }
        }
    }

    .footer {
        font-size: 2rem;
    }
}
