@use "./mixins" as m;
@use "./variables" as v;


* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    width: 100%;
    background-color: v.$coffee;
    margin: 0;
}

.nav {
    background-color: v.$coffee;
    height: 4rem;
    width: 100%; 
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 10;
    &__list {
        margin-top: .7rem;
    }
    &__item  {
        list-style-type: none;
        display: inline;
        margin-right: 2.8rem;

        &--logo {
            @include m.navObj;
            font-size: 2rem;
            color: v.$beige;
        }
        
        &--link {
            &:hover {
                color: v.$brown;
            }
            &:active {
                color: v.$beige;
            }
            @include m.navObj;           
            }
        }
    &__search {
        position: relative;
        right: -13.9rem;
        top: -.2rem;
        &--form {
           height: 2.1rem;
           width: 17rem;
           font-size: 1rem;
           padding-left: .6rem;
           border-radius: .5rem;
       }
       &--btn {
           height: 2.3rem;
           width: 5.5rem;
           border-radius: .7rem;
           border: 2px solid cyan;
           color: cyan;
           font-size: 1rem;
           background-color: v.$coffee;
           margin-left: .8rem;
           
       }
    }
    
}

.heroImg {
    background-size: cover;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../images/reading-room.jpg');
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 21rem;
    top: 4rem;
    margin: 0;
    &__caption {
        text-align: center;
        top: 50%;
        left: 50%;
        color:v.$beige;
        font-size: 2.3rem;
        padding-top: 1.5rem;
        font-weight: 500;
        &--lg {
            font-size: 4.6rem;
            padding-top: 6rem;
        }
    }

}

.mainContent {
    background-color: v.$beige;
    height: 29rem;
    margin-top: 3rem;
    &__header {
        font-size: 2rem;
        padding-top: 2.7rem;
        text-align: center;
    }
    &__text {
        font-size: 1.3rem;
        padding: 1rem 9rem;
        text-align: left;
        p {
            margin-bottom: 2rem;
        }
        &--btn {
            height: 2.5rem;
            width: 11.5rem;
            border-radius: .7rem;
            color: v.$beige;
            font-size: 1rem;
            background-color: v.$coffee;
            margin-left: 24.5rem;
        }
    }
}

.footer {
    text-align: center;
    font-size: 1rem;
    h4 {
        color: v.$beige;
    }
}


// Breakpoints lg 1025px - 1200px  md 769px - 1024px

@media only screen and (max-width: 1440px) {
    html {
        font-size: 18px;
    }
    .nav {
        &__search {
            right: -14rem;
        }
    }
    .mainContent {
        &__text {
            &--btn {
                margin-left: 24.9rem;
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 1025px) {
    html {
        font-size: 13px;
    }
    .mainContent {
        &__text {
            &--btn {
                margin-left: 24.5rem;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 9.5px;
    }
    .mainContent {
        &__text {
            &--btn {
                margin-left: 25.3rem;
            }
        }
    }
}


// Mobile Breakpoints 375px-480px

@media only screen and (max-width: 480px) {

    .nav {
        overflow: hidden;
        background-color: v.$coffee;
        height: 8rem;
        position: relative;
        &__item {
            display: block;
            padding: 1rem;
            &--logo {
                font-size: 3.7rem;
                margin-left: -3rem;
            }
            &--link {
                font-size: 4.3rem;
                margin-left: 11rem;
                display: none;
            }
        }
        &__search {
            display: none;
        }
        &__container {
            // position: fixed;
            // right: 4rem;
            // top: 2rem;
            position: absolute;
            top: 1.8rem;
            left: 44rem;
            &--bar1,
            &--bar2,
            &--bar3 {
                width: 35px;
                height: 5px;
                background-color: v.$beige;
                margin: 6px 0;
                transition: 0.4s;                   
            }
            .change &--bar1 {
                -webkit-transform: rotate(-45deg) translate(-9px, 6px);
                transform: rotate(-45px) translate(-9px, -6px);
            }
            .change &--bar2 {
                opacity: 0;
            } 
            .change &--bar3 {
                -webkit-transform: rotate(45deg) translate(-8px, -8px);
                transform: rotate(45deg) translate(-8px, -8px);
            }
        }
    }


    .editBook {
        display: block;
        // margin: 16% 0% 0% 0%;
        background-color: v.$beige;
        text-align: center;
        &__header {
            font-size: 5rem;
            padding-top: 4rem;
        }

    }
    .heroImg {
        height: 30rem;
        &__caption {
            font-size: 3.3rem;
            &--lg {
                font-size: 8.6rem;
                padding-top: 8rem;
            }
        }
    }
    
    .mainContent {
        height: 55rem;
        p {
            margin-bottom: 3rem;
        }
        margin-top: 4rem;
        &__header {
            font-size: 4.5rem;
        }
        &__text {
            font-size: 2.3rem;
            padding: 1rem 3rem;
            &--btn {
                margin-left: 13.5rem;
                height: 3.5rem;
                width: 16.5rem;
                font-size: 2rem;
            }
        }
    }
    .footer {
        font-size: 2rem;
    }
}


@media only screen and (max-width: 425px) {

    .container {
        position: relative;
        right: -8rem;
    }

    .heroImg {
        height: 31rem;
        &__caption {
            &--lg {
                font-size: 7.6rem;
            }
        }
    }
    .mainContent {
        height: 61rem;
        &__header {
            font-size: 4rem;
        }
        &__text {
            &--btn {
                margin-left: 12rem;
                width: 14.5rem;
            }
        }
    }
}

@media only screen and (max-width: 375px) {

    .nav {
        &__item {
            &--logo {
                top: -1rem;
            }
            &--link {
                margin-left: 6rem;
            }
        }
    }

    .container {
        right: -3rem;
    }


    .heroImg {
        background-size: 257%;
        height: 30rem;
        &__caption {
            font-size: 3.5rem;
            &--lg {
                padding-top: 9rem;
                font-size: 8rem;
            }
        }
    }

    .mainContent {
        height: 56rem;
        &__header {
            font-size: 3rem;
        }
        &__text {
            font-size: 1.9rem;
            padding: 1rem 3rem;
            &--btn {
                margin-left: 8.5rem;
                width: 15.5rem;
            }
        }
    }
}

